<script type="text/x-template" id="notifications-template">
    <ul class="notifications">
        <%
            var changes = [],
            originalValues = [],
            newValues = [];

            function pushGigChanges(name, originalValue, newValue){
                changes.push(name);
                originalValues.push(originalValue);
                newValues.push(newValue);
            }

            _.each(notifications, function(notification){
               if(notification.type == 1){ %> @* cancelled*@

                  <li>
                    <span class="highlight">
                        <%= notification.gig.artist.name %>
                    </span> 
                        has cancelled the gig at <%= notification.gig.venue %> at <%= moment(notification.gig.dateTime).format("D MMM HH:mm") %>.
                  </li>  
               
                  <% } else if (notification.type == 2) { @* updated*@
                       
                        if(notification.originalVenue != notification.gig.venue){
                            pushGigChanges('venue', notification.originalVenue, notification.gig.venue);
                        }
                        
                        if(notification.originalDateTime != notification.gig.dateTime){
                            pushGigChanges('date/time', moment(notification.originalDateTime).format("D MMM HH:mm"), moment(notification.gig.dateTime).format("D MMM HH:mm"));
                        }
                    %>
                        
                      <li>
                        <span class="highlight">
                          <%= notification.gig.artist.name %>
                        </span> 
                          has changed the <%= changes.join(' and ')%> of the gig from <%= originalValues.join('/') %> to <%= newValues.join('/') %>.
                      </li>  
                  
                <%} else if (notification.type == 3) { %> @* created*@
                    
                    <li>
                        <span class="highlight">
                            <%= notification.gig.artist.name %>
                        </span>
                        has a newly gig at <%= notification.gig.venue %> at <%= moment(notification.gig.dateTime).format("D MMM HH:mm") %>.
                    </li>  

                  <% } else if(notification.type == 4 ){ %> @* reopen*@
                  
                    <li>
                        <span class="highlight">
                            <%= notification.gig.artist.name %>
                        </span>
                        has reopen gig at <%= notification.gig.venue %> at <%= moment(notification.gig.dateTime).format("D MMM HH:mm") %>.
                    </li>  
                <% }
            })
        %>
    </ul>
</script>
